page-login {

}

.pane {
    background: url(../assets/imgs/login.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center top;
}

.input-cover {
    position: static;
  }

